/* index.css */

:root {
  --h-sauce-color: #ff7d00;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
}

.title-css {
  background-color: var(--h-sauce-color);
  font-size: 30px;
  font-family: monospace;
  padding-left: 20px;
  font-weight: bold;
}

.button1 {
  margin-left: 600px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  background-color: var(--h-sauce-color);
  font-weight: bold;
  font-family: monospace;
}

.button1:hover {
  text-decoration: none;
  background-color: #000000;
  color: var(--h-sauce-color);
}

.button2 {
  margin-left: 15px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  background-color: var(--h-sauce-color);
  font-weight: bold;
  font-family: monospace;
}

.button2:hover {
  text-decoration: none;
  background-color: #000000;
  color: var(--h-sauce-color);
}

.smaller-image {
  width: 1000px;
  height: auto;
  padding-top: 50px;

}

.content-container {
  display: flex;
  align-items: center;
}


.welcome {
  font-size: 30px;
  padding-left: 40px;
  font-family: monospace;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}


.img {
  padding-top: 200px;
  padding-left: 200px;
}


.flavourimg {
  width: 475px;
  height: auto;
  padding-top: 0px;
}


.text {
  font-size: 30px;
  padding-left: 13px;
  font-family: monospace;
  font-weight: bold;
}

.contactlinktext {
  font-size: 30px;
  margin-left: 315px;
  margin-top: 150px;
  font-family: monospace;
  font-weight: bold;
}

#contact {
  display: flex;
  flex-direction: column; 
  align-items: normal; 
}

.contact-content {
  display: flex;
  flex-direction: row; /* Arrange elements horizontally */
  align-items: center; 
}

.contact-buttons {
  flex: 1; /* Expand to take available space */
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Adjust the gap between buttons and form */
  margin-left: 0px;
}

.contact-form {
  flex: 1; /* Expand to take available space */
  margin-left: 20px;
  margin-bottom: 0px;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}

.form-group{
  margin-bottom: 10px;
}

.input1{
  width: 500px; 
  padding: 8px;
  margin-left: 30px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  font-size: 20px; 
  color: #333; 
}
.input1:focus{
  border-color: #007bff;
  outline: none; 
}

.input2{
  width: 500px; 
  padding: 8px;
  margin-left: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 20px; 
  color: #333; 
}
.input2:focus{
  border-color: #007bff;
  outline: none; 
}

.input3{
  width: 500px; 
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  font-size: 20px; 
  color: #333; 
}
.input3:focus{
  border-color: #007bff;
  outline: none;  
}

.submitbutton{
  margin-left: 480px;
  margin-top: 30px;
  border-radius: 25px;
  border: none;
  color: black;
  text-align: center;
  font-family: monospace;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  background-color: var(--h-sauce-color);
  font-weight: bold;
  font-family: monospace;
  padding:10px
}